run = "php -S 0.0.0.0:8000 -t api/public"

entrypoint = "api/public/index.php"
modules = ["nodejs-20", "postgresql-16"]

[nix]
channel = "stable-22_11"

[deployment]
run = ["php", "-S", "0.0.0.0:8000", "-t", "api/public"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 8000
externalPort = 80
